#nav-list {
    width: 200px;
    padding: 0;
}

.menu-item {
    padding: 10px;
    font-size: 22px;
    list-style-type: none;
}

.home-btn {
    background-color: grey;
}

.red-color {
    background-color: red;
}

.orange-color {
    background-color: orange;
}

.green-color {
    background-color: green;
}

.blue-color {
    background-color: blue;
}

.hidden {
    display: none;
}